<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>calc_edge_lengths.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>find_vertex_neighbors.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0025B6021B67F5E3003C5F86</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>00C910361B713FFF001FA2A7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>00FC11C41B7144AD003525A6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>00FC11CD1B7144E0003525A6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>00FC11D81B7146AA003525A6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>00FC11E41B7146C5003525A6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>00FC12031B714AA3003525A6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
